extends layout

block content
  h1 Create your card here
  form(method = "POST" action = "/card")
    label(for = "firstName") First:
    input(type = "text" name = "firstName" id  = "firstName" placeholder = "John")

    label(for = "lastName") Last:
      input(type = "text" name = "lastName" id  = "lastName" placeholder = "Doe")

      label(for = "type") Type
      select(name = "type" id = "type")
        option(value = "Bronze") Bronze
        option(value = "Gold") Gold
        option(value = "Platinum") Platinum

        br

      label(for = "dateOfBirth") DOB
      input(type = "date" name = "dateOfBirth" id = "dateOfBirth" placeholder = "00/00/0000")

      label(for = "startDate") Starting Date
        input(type = "date" name = "startDate" id = "startDate" placeholder = "00/00/0000")

      br

      label(for = "addressLine1") Address Line 1:
        input(type = "text" name = "addressLine1" id = "addressLine1")

        label(for = "addressLine2") Address Line 2:
          input(type = "text" name = "addressLine2" id = "addressLine2" placeholder = "221B Baker St., London.")

          br

          label(for = "city") City:
          input(type = "text" name = "city" id = "city" placeholder = "Fresno")

          label(for = "state") State:
          select(name = "state" id = "state")
            option(value = "CA") CA
            option(value = "NV") NV
            option(value = "WA") WA

            br

          label(for = "zip") Zip Code:
          input(type = "text" name = "zip" id = "zip" placeholder = "67322")

          br

          button(type = "submit" action = "post") Create My Card